{% extends 'template.html.twig'%}
{%block title%}
    <title>{{ firstname }} {{name}}</title>
{% endblock%}
{% block body%}
    <div>
        <h1>With love from {{ firstname }} {{name}}</h1>
        <p>Bonjour Sofiene</p>
    </div>
    Mon url absolue est : {{url('app_first')}}
{% endblock%}
